%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%     Projects
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

\section{\VAR{heading}}
\BLOCK{ for project in projects }
\runsubsection{\BLOCK{ if project.title } \VAR{project.name} \BLOCK{ endif }}
\descript{\BLOCK{ if project.tools }
        \BLOCK{if project.tools[0]} \VAR{"|" + project.tools[0]} \BLOCK{endif} \BLOCK{ for keyword in project.tools[1:]}, \VAR{keyword}\BLOCK{ endfor } 
    \BLOCK{ endif }}

\BLOCK{ if project.impact } \VAR{project.impact} \BLOCK{ endif }
\sectionsep\\
\BLOCK{ endfor }
